![Alternative text in case your image doesn’t appear](filename.jpg)

Staffelter Hof Winery is Germany's oldest business, established in 862 under the Carolingian dynasty. It has continued to serve customers through dramatic changes in Europe, such as the Holy Roman Empire, the Ottoman Empire, and both world wars. What characteristics enable a business to stand the test of time?

To help answer this question, BusinessFinancing.co.uk researched the oldest company still in business in almost every country and compiled the results into several CSV files. This dataset has been cleaned.

Having useful information in different files is a common problem. While it's better to keep different types of data separate for data storage, you'll want all the data in one place for analysis. You'll use joining and data manipulation to work with this data and better understand the world's oldest businesses.


## The Data
`data/businesses.csv` and `data/new_businesses.csv`
|Column|Description|
|------|-----------|
|`business`|Name of the business (varchar)|
|`year_founded`|Year the business was founded (int)|
|`category_code`|Code for the business category (varchar)|
|`country_code`|ISO 3166-1 three-letter country code (char)|

`data/countries.csv`
|Column|Description|
|------|-----------|
|`country_code`|ISO 3166-1 three-letter country code (varchar)|
|`country`|Name of the country (varchar)|
|`continent`|Name of the continent the country exists in (varchar)|

`data/categories.csv`
|Column|Description|
|------|-----------|
|`category_code`|Code for the business category (varchar)|
|`category`|Description of the business category (varchar)|

Understand the factors that help a business be timeless by answering these questions:

What is the oldest business on each continent? Save your answer as a DataFrame called oldest_business_continent with four columns: continent, country, business, and year_founded in any order.

How many countries per continent lack data on the oldest businesses? Does including new_businesses change this? Count the number of countries per continent missing business data, including new_businesses, and store the results in a DataFrame named count_missing with columns for the continent and the count.

Which business categories are best suited to last many years, and on what continent are they? Create a DataFrame called oldest_by_continent_category that stores the oldest founding year for each continent and category combination. It should contain three columns: continent, category, and year_founded, in that order.

In [1]:
# Import necessary libraries
import pandas as pd

# Load the data
businesses = pd.read_csv("../data/businesses.csv")
new_businesses = pd.read_csv("../data/new_businesses.csv")
countries = pd.read_csv("../data/countries.csv")
categories = pd.read_csv("../data/categories.csv")

In [40]:
businesses.head(5)

                         business  year_founded category_code country_code
0                  Hamoud Boualem          1878         CAT11          DZA
1  Communauté Électrique du Bénin          1968         CAT10          BEN
2        Botswana Meat Commission          1965          CAT1          BWA
3                     Air Burkina          1967          CAT2          BFA
4                         Brarudi          1955          CAT9          BDI

In [41]:
categories.head(5)

  category_code                   category
0          CAT1                Agriculture
1          CAT2       Aviation & Transport
2          CAT3          Banking & Finance
3          CAT4  Cafés, Restaurants & Bars
4          CAT5               Conglomerate

In [42]:
countries.head(5)

  country_code               country continent
0          AFG           Afghanistan      Asia
1          AGO                Angola    Africa
2          ALB               Albania    Europe
3          AND               Andorra    Europe
4          ARE  United Arab Emirates      Asia

In [2]:
businesses_countries = businesses.merge(countries, on="country_code")

In [3]:
businesses_countries.head(7)

,business,year_founded,category_code,country_code,country,continent
0,Hamoud Boualem,1878,CAT11,DZA,Algeria,Africa
1,Communauté Électrique du Bénin,1968,CAT10,BEN,Benin,Africa
2,Botswana Meat Commission,1965,CAT1,BWA,Botswana,Africa
3,Air Burkina,1967,CAT2,BFA,Burkina Faso,Africa
4,Brarudi,1955,CAT9,BDI,Burundi,Africa
5,Cameroon Development Corporation,1947,CAT1,CMR,Cameroon,Africa
6,Correios de Cabo Verde,1849,CAT16,CPV,Cabo Verde,Africa

In [ ]:
#businesses_countries =businesses_countries.drop(columns = ["category_code", 'country_code'], axis=1)

In [4]:
min_years = businesses_countries.groupby('continent', as_index=False)['year_founded'].min()

In [5]:
result = pd.merge(businesses_countries, min_years, on='continent', suffixes=('', '_min'))

In [15]:
filtered_result = result[result['year_founded'] == result['year_founded_min']].copy()
filtered_result.drop(columns='year_founded_min', inplace=True)
count_missing = filtered_result.drop(columns = ["category_code", 'country_code'], axis=1)
print(count_missing)

                        business  year_founded    country      continent
29                Mauritius Post          1772  Mauritius         Africa
64                    Kongō Gumi           578      Japan           Asia
95   St. Peter Stifts Kulinarium           803    Austria         Europe
145  La Casa de Moneda de México          1534     Mexico  North America
157      Casa Nacional de Moneda          1565       Peru  South America
160               Australia Post          1809  Australia        Oceania

In [68]:
bc = countries.merge(businesses, how="left", on="country_code", suffixes=("_biz", "_country"))

In [70]:
number_of_missing = bc['business'].isnull().sum()

In [71]:
number_of_missing

32

In [12]:
bc2 = filtered_result.merge(categories, on="category_code")

In [13]:
bc2 = bc2.drop(columns = ["business", "category_code", 'country_code', "country"], axis=1)

In [14]:
bc2.head()

   year_founded      continent                    category
0          1772         Africa              Postal Service
1          1809        Oceania              Postal Service
2           578           Asia                Construction
3           803         Europe   Cafés, Restaurants & Bars
4          1534  North America  Manufacturing & Production